# =========================
# Build files (CMake)
# =========================
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# Binaries
# =========================
set_integers
*.exe
*.out

# =========================
# Object files
# =========================
*.o

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo
*~

# =========================
# Linux
# =========================
*.pid
*.log

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini